/*@charset "utf-8";*/
/* CSS Document */

body{
  font-family: serif;
  width: 100%;
  margin: 0px auto 0px auto;
}

#main_visual{
  width: 100%;
  height: 102vh;
  background-image: url("../images/MainVisual.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

header{
  width: 100%;
  height: 15.9vh;
}

.inner{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /*min-width: 1200px;*/
}

header .inner,footer .inner,header .inner.show{
  display: flex;
  align-items: center;
}

header .inner,header .inner.show{
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

header .inner h1,footer .inner > div div:nth-of-type(1){
  margin-left: calc(166/1536 * 100vw);
}

header .inner img,footer .inner img{
  width: 100%;
  height: auto;
}

header .inner nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(495/1536 * 100vw);
  margin-left: calc(147/1536 * 100vw);
}

header .inner nav ul a,#footer_nav ul li a{
  color: #fff;
  font-size: calc(16/1536 * 100vw);
  text-decoration: none;
  position: relative;
}

#rsv_update a::after,header .inner nav ul a::after,#footer_nav ul li a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  border-bottom: solid 1px #fff;
  transition: all .5s ease;
}

#rsv_update a:hover::after,header .inner nav ul a:hover::after,#footer_nav ul li a:hover::after{
  width: 100%;
}

#rsv_btn_smapho{
  display: none;
}

#rsv_btn,#language{
  color: #fff;
  display: block;
  font-size: calc(16/1536 * 100vw);
  text-decoration: none;
  position: relative;
  text-align: center;
  transition: all .5s ease;
}

#rsv_btn{
  width: 9.89vw;
  background-color: #d5ca1a;
  font-weight: bold;
  text-align: center;
  line-height: 4.85vh;
  margin-left: calc(104/1536 * 100vw);
}

#rsv_btn:hover{
  color: #d5ca1a;
  background-color: #fff;
}

#language{
  margin-left: calc(60/1536 * 100vw);
  margin-right: calc(166/1536 * 100vw);
  height: 1.5rem;
  cursor: pointer;
}

#arrow{
  position: relative;
}

#arrow::before{
  content: '';
  width: 5px;
  height: 5px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(135deg);
  position: absolute;
  top: 25%;
  left: 110%;
}

#language:hover #arrow::before{
  transform: rotate(315deg);
}

#language ul{
  list-style-type: none;
  text-align: left;
  margin-top: -0.5vh;
}

#language li{
  height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

#language:hover li{
  height: 1.5rem;
  overflow: visible;
}

#language li:hover{
  text-decoration: underline;
}

#language li a{
  color: #fff;
  text-decoration: none;
}

#catch_phrase{
  display: block;
  margin: 13.5vh auto 0 auto;
  opacity: 0;
  transition: all 3s ease-in;
}

#ToTop{
  width: 50px;
  height: 50px;
  background-color: rgba(245,0,0,0.5);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
}

#search{
  width: 100%;
  height: 102vh;
  background: #111;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: translateY(-100%);
  transition: all .5s ease;
}

#close{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 1vw;
  cursor: pointer;
}

#close::before,#close::after{
  content: '';
  position: absolute;
  width: 100%;
  border-top: solid 4px #fff;
  border-radius: 4px;
}

#close::before{
  transform: rotate(45deg);
}

#close::after{
  transform: rotate(-45deg);
}

#search > div{
  width: 63.8vw;
  margin: 12.98vh auto 12.98vh auto;
  position: relative;
}

#rsv_update{
  position: absolute;
  top: 0;
  right: 0;
}

#rsv_update a{
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-left: 1vw;
}

#search > div p{
  color: #000;
  font-weight: bold;
  background: #fff;
  height: 4.85vh;
  line-height: 4.85vh;
  margin: 0;
  padding-left: 0.97vw;
}

#rsv_table{
  color: #fff;
  background: #4d4d4d;
  padding-top: 4vh;
  padding-left: 0.97vw;
  padding-bottom: 4vh;
}

#rsv_table table{
  width: 91%;
  height: 23.1vh;
  text-align: left;
  margin: 0 auto 0 auto;
}

#kensaku{
  margin-left: 53.3vw;
}

main{
  background-image: url("../images/MainColor.png");
  background-repeat: repeat;
  padding-top: 5.78vh;
}

#intro{
  background-image: url("../images/GreetingBg.png");
  background-size: cover;
  background-position: center center;
  margin-bottom: 5.78vh;
  padding-top: calc(40/824 * 100vh);
  padding-bottom: calc(40/824 * 100vh);
}

#intro h2,#room h2,#spa h2,#meal h2,#facility h2,#access h2{
  color: #fff;
  font-size: calc(18/1536 * 100vw);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

#intro .inner div{
  width: 32.87vw;
  height: auto;
  margin-top: calc(78/824 * 100vh);
  margin-left: 56.9vw;
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

#intro .inner div p{
  color: #fff;
  font-size: calc(16/1536 * 100vw);
  font-family: sans-serif !important;
  letter-spacing: 0.3em;
  line-height: 6.55vh;
}

#room,#spa,#meal,#facility{
  background: #111;
  margin-bottom: calc(50/824 * 100vh);
  padding-top: calc(40/824 * 100vh);
}

#room .inner,#spa .inner,#meal .inner,#facility .inner{
  display: flex;
}

.sentence{
  width: 50%;
  padding-top: calc(90/824 * 100vh - 25/824 * 100vh);
  padding-bottom: calc(90/824 * 100vh);
}

#spa .inner .sentence,#facility .inner .sentence{
  order: 2;
}

h3,#room .inner p,#spa .inner p,#meal .inner p,#facility .inner p{
  color: #fff;
  margin-left: 11.7vw;
}

h3{
  font-size: calc(30/1536 * 100vw);
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

#room .inner p,#spa .inner p,#meal .inner p,#facility .inner p{
  font-size: calc(18/1536 * 100vw);
  /*margin-top: 10vh;*/
  margin-top: calc(100/824 * 100vh);
  margin-bottom: calc(100/824 * 100vh);
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

.more{
  color: #fff;
  font-size: calc(24/1536 * 100vw);
  text-decoration: none;
  display: block;
  width: 128px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 10vh;
  margin-left: 32vw;
  position: relative;
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

.more::before,.more::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition: all .5s ease;
}

.more::before{
  top: 0;
  left: 0;
}

.more::after{
  right: 0;
  bottom: 0;
}

.more:hover::before{
  width: 99%;
  height: 98%;
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
}

.more:hover::after{
  width:99%;
  height: 98%;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

.photo{
  width: 50%;
  background-size: cover;
  background-position: center center;
}

#room .inner .photo{
  background-image: url("../images/room.png");
}

#spa .inner .photo{
  background-image: url("../images/HotSpring.png");
}

#meal .inner .photo{
  background-image: url("../images/Meal.png");
}

#facility .inner .photo{
  background-image: url("../images/Facility.png");
}

#access{
  width: 100%;
  height: auto;
  background: #111;
  padding-top: calc(40/824 * 100vh);
}

#show_map{
  width: 100%;
  height: 61.5vh;
}

footer{
  width: 100%;
  padding-top: calc(42/824 * 100vh);
  padding-bottom: calc(42/824 * 100vh);
  background-image: url("../images/Footer.png");
  background-size: cover;
  background-position: center center;
}

#address,#tel{
  margin-top: 3.47vh;
  margin-left: 10.8vw;
}

footer .inner p{
  color: #fff;
  font-size: calc(12/1536 * 100vw);
}

#footer_nav{
  display: flex;
}

#footer_nav ul{
  list-style-type: none;
}

#footer_nav ul li{
  margin-bottom: 1.15vh;
}

#copyright{
  margin-left: 13.5vw;
}
