/*@charset "utf-8";*/
/* CSS Document */

body{
  font-family: serif;
  width: 100%;
  margin: 0px auto 0px auto;
  background: #111;
}

header{
  width: 100%;
  height: 15.9vh;
}

.inner{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /*min-width: 1200px;*/
}

header .inner,footer .inner{
  display: flex;
  align-items: center;
}

header .inner{
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

header .inner h1,footer .inner > div div:nth-of-type(1){
  margin-left: calc(166/1536 * 100vw);
}

header .inner img,footer .inner img{
  width: 100%;
  height: auto;
}

header .inner nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(495/1536 * 100vw);
  margin-left: calc(147/1536 * 100vw);
}

header .inner nav ul a,#footer_nav ul li a{
  color: #fff;
  font-size: calc(16/1536 * 100vw);
  text-decoration: none;
  position: relative;
}

#rsv_update a::after,header .inner nav ul a::after,#footer_nav ul li a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  border-bottom: solid 1px #fff;
  transition: all .5s ease;
}

#rsv_update a:hover::after,header .inner nav ul a:hover::after,#footer_nav ul li a:hover::after{
  width: 100%;
}

#rsv_btn_smapho{
  display: none;
}

#rsv_btn,#language{
  color: #fff;
  display: block;
  font-size: calc(16/1536 * 100vw);
  text-decoration: none;
  position: relative;
  text-align: center;
  transition: all .5s ease;
}

#rsv_btn{
  width: 4.94vw;
  background-color: #d5ca1a;
  font-weight: bold;
  text-align: center;
  line-height: 4.85vh;
  margin-left: calc(104/1536 * 100vw);
}

#rsv_btn:hover{
  color: #d5ca1a;
  background-color: #fff;
}

#language{
  margin-left: calc(60/1536 * 100vw);
  margin-right: calc(166/1536 * 100vw);
  height: 1.5rem;
  cursor: pointer;
}

#arrow{
  position: relative;
}

#arrow::before{
  content: '';
  width: 5px;
  height: 5px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(135deg);
  position: absolute;
  top: 25%;
  left: 110%;
}

#language:hover #arrow::before{
  transform: rotate(315deg);
}

#language ul{
  list-style-type: none;
  text-align: left;
  margin-top: -0.5vh;
}

#language li{
  height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

#language:hover li{
  height: 1.5rem;
  overflow: visible;
}

#language li:hover{
  text-decoration: underline;
}

#language li a{
  color: #fff;
  text-decoration: none;
}

#search{
  width: 100%;
  height: 102vh;
  background: #111;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: translateY(-100%);
  transition: all .5s ease;
}

#close{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 1vw;
  cursor: pointer;
}

#close::before,#close::after{
  content: '';
  position: absolute;
  width: 100%;
  border-top: solid 4px #fff;
  border-radius: 4px;
}

#close::before{
  transform: rotate(45deg);
}

#close::after{
  transform: rotate(-45deg);
}

#search > div{
  width: 63.8vw;
  margin: 12.98vh auto 12.98vh auto;
  position: relative;
}

#rsv_update{
  position: absolute;
  top: 0;
  right: 0;
}

#rsv_update a{
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-left: 1vw;
}

#search > div p{
  color: #000;
  font-weight: bold;
  background: #fff;
  height: 4.85vh;
  line-height: 4.85vh;
  margin: 0;
  padding-left: 0.97vw;
}

#rsv_table{
  color: #fff;
  background: #4d4d4d;
  /*height: 32.5vh;*/
  padding-top: 4vh;
  padding-left: 0.97vw;
  padding-bottom: 4vh;
}

#rsv_table table{
  width: 91%;
  height: 23.1vh;
  text-align: left;
  margin: 0 auto 0 auto;
}

#kensaku{
  margin-left: 53.3vw;
}

#main_visual{
  width: 60vw;
  height: 85vh;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

#main_visual div{
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  background-image: url('../images/HotSpring.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 5s ease;
}

#main_visual div p{
  color: #C0C0C0;
  font-size: calc(60/1536 * 100vw);
  text-shadow: 2px 2px 2px #111;
  writing-mode: vertical-rl;
  transform: scale(0.5);
  transition: all 5s ease;
}

#ToTop{
  width: 50px;
  height: 50px;
  background-color: rgba(245,0,0,0.5);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
}

h2,main > p{
  color: #fff;
  text-align: center;
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

h2{
  font-size: calc(30/1536 * 100vw);
  margin-top: 9.61vh;
}

main > p{
  font-size: calc(16/1536 * 100vw);
}

main > p:nth-of-type(2){
  text-indent: 1em;
}

#yamaburo,#kawaburo,#koyaburo{
  background: #4d4d4d;
  display: flex;
  margin-top: 16.3vh;
}

.sentence{
  color: #fff;
  width: calc(50% - 11.7vw);
  padding-top: 7.69vh;
  padding-left: 11.7vw;
  padding-bottom: 7.69vh;
}

#yamaburo .sentence,#koyaburo .sentence{
  order: 2;
}

.sentence h3{
  font-size: calc(30/1536 * 100vw);
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

.sentence p{
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

.sentence p:nth-of-type(1){
  font-size: calc(16/1536 * 100vw);
}

.sentence p:nth-of-type(2){
  font-size: calc(24/1536 * 100vw);
  margin-top: 7.69vh;
  margin-bottom: 7.69vh;
}

.sentence p:nth-of-type(3){
  font-size: calc(16/1536 * 100vw);
}

.photo{
  width: 50%;
  background-size: cover;
  transform: translateY(-4.8vh);
}

#yamaburo .photo{
  background-image: url("../images/Yamaburo.png");
  background-position: center center;
}

#kawaburo .photo{
  background-image: url("../images/Kawaburo.png");
  background-position: center center;
}

#koyaburo .photo{
  background-image: url("../images/Koyaburo.png");
  background-position: bottom;
}

#quality{
  font-weight: bold;
  width: 45.3vw;
  margin: 14.4vh auto 0 auto;
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

#efficacy{
  font-weight: bold;
  width: 45.3vw;
  margin: 7.88vh auto 0 auto;
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

#quality h3,#efficacy h3{
  color: #fff;
  font-size: calc(16/1536 * 100vw);
  background: #4d4d4d;
}

#quality div,#efficacy div{
  color: #fff;
  font-size: calc(12/1536 * 100vw);
}

#day_trip{
  color: #fff;
  font-weight: bold;
  width: 36.3vw;
  background: #4d4d4d;
  margin: 14.4vh auto 23.8vh auto;
  padding: 5.38vh 0;
  text-align: center;
}

#day_trip h3{
  font-size: calc(24/1536 * 100vw);
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

hr{
  color: #fff;
  width: 10.4vw;
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

#day_trip p{
  font-size: calc(16/1536 * 100vw);
  transform: translateY(12.13vh);
  transition: all .5s ease;
}

#day_trip p:nth-of-type(2){
  text-indent: -2.7em;
}

#day_trip p:nth-of-type(4){
  text-indent: -4em;
}

footer{
  width: 100%;
  padding-top: calc(42/824 * 100vh);
  padding-bottom: calc(42/824 * 100vh);
  background-image: url("../images/Footer.png");
  background-size: cover;
  background-position: center center;
}

#address,#tel{
  margin-top: 3.47vh;
  margin-left: 10.8vw;
}

footer .inner p{
  color: #fff;
  font-size: calc(12/1536 * 100vw);
}

#footer_nav{
  display: flex;
}

#footer_nav ul{
  list-style-type: none;
}

#footer_nav ul li{
  margin-bottom: 1.15vh;
}

#copyright{
  margin-left: 13.5vw;
}
